<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Setup\EavSetupFactory">
        <arguments>
            <argument name="setup" xsi:type="object">Magento\Framework\Setup\ModuleDataSetupInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="custom_product_extension" type="EdgeTariff\EstDutyTax\Plugin\ProductRepositoryPlugin"/>
    </type>
    <preference for="EdgeTariff\EstDutyTax\Api\ProductHsCodeInterface" type="EdgeTariff\EstDutyTax\Model\ProductHsCode"/>
    <preference for="EdgeTariff\EstDutyTax\Api\DeliveryManagementInterface" type="EdgeTariff\EstDutyTax\Model\DeliveryManagement" />

</config>
