<button type="button" class="custom-button-class" data-bind="click: checkShippingAddressFields">
    Continue To Shipping
</button>
<div class="checkboxClass_Wtt_wrap_parent">
    <div class="checkboxClass_Wtt_wrap no-rates">
        <img data-bind="attr: { src: require.toUrl('EdgeTariff_EstDutyTax/images/alert.png') }"
            alt="Your Image Description" class="no-rate-img">
        <div><b>Shipping not available.</b><br> Please change the address.</div>
    </div>
</div>
<div class="checkboxClass_Wtt_wrap_child">
    <div class="checkboxClass_Wtt_wrap no-rates">
        <img data-bind="attr: { src: require.toUrl('EdgeTariff_EstDutyTax/images/alert.png') }"
            alt="Your Image Description" class="no-rate-img">
        <div><b>Shipping Address not fill Properly.</b><br> Please check the Shipping Address.</div>
    </div>
</div>