.custom-button-class {
    background-color: #1979C1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    /* Initially hide the button */
}

.custom-button-class:hover {
    background-color: #145a8c;
    /* Darker hover effect */
    color: #ffffff;
}

.custom-button-classmain {
    background-color: #2e7fbd;
    color: #ffffff;
    border: none;
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    /* Initially hide the button */
}

.custom-button-classmain:hover {
    background-color: #145a8c;
    /* Darker hover effect */
    color: #ffffff;
}

/* .checkout-shipping-method {
     display: none; 
} */
.checkboxClass_Wtt_wrap_childmain {
    border: 1px solid #e5e5e5;
    background-color: #F5E6E6;
    border-bottom: 0px;
    margin-top: 20px;
    display: none;
    text-align: center;
    /* Center the whole child div */
}

.checkboxClass_Wtt_wrap_parentmain {
    border: 1px solid #e5e5e5;
    background-color: #F5E6E6;
    border-bottom: 0px;
    margin-top: 20px;
    display: none;
    text-align: center;
    /* Center the whole child div */
}

.checkboxClass_Wtt_wrap_child {
    border: 1px solid #e5e5e5;
    background-color: #F5E6E6;
    border-bottom: 0px;
    margin-top: 20px;
    display: none;
    text-align: center;
    /* Center the whole child div */
}

.checkboxClass_Wtt_wrap_parent {
    border: 1px solid #e5e5e5;
    background-color: #F5E6E6;
    border-bottom: 0px;
    margin-top: 20px;
    display: none;
    text-align: center;
    /* Center the whole child div */
}

.checkboxClass_Wtt_wrap {
    display: flex;
    align-items: center;
    /* Vertically align the image and text */
    justify-content: flex-start;
    /* Keep the image and text aligned to the left within the div */
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
    width: auto;
    /* Automatically adjust the width to fit content */
    margin: 0 auto;
    /* Center the entire div horizontally */
}

.checkboxClass_Wtt_wrap img {
    margin-right: 10px;
    /* Adds space between the image and text */
}

.checkboxClass_Wtt_wrap div {
    text-align: left;
    /* Align text to the left */
}

.checkboxClass_Wtt_wrap label {
    font-size: 16px;
    font-weight: 600;
}